// .table {
//     .rdt_TableHeader,
//   header,
//   &__container {
//     border-radius: 35px;
//     background-color: #fff;
//     padding: 0;
//   }
// }

.table {
    width: 80%;
    margin: auto;
    // border-radius: 10px;
}

.rdt_Table {
    background-color: aqua;
}