
.table-header-component {
  display: flex;
  justify-content: space-around;

  button {
    width: 150px;
    padding: 5px;
    height: 40px;
    align-self: center;
    border-radius: 10px;
    margin-right: 50px;
    background-color: rgb(41, 121, 255);
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: space-around;

    img {
      width: 20px;
      margin: 0 5px;
    }

    p {
      align-self: center;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }

  }

}

.table {
    width: 100%;
    // margin: auto;
    // margin-top: 20px;

    .rdt_TableHeader,
    header,
    &__container {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      // background-color: #55555555;
      background-color: #0D1827;
      padding: 0;
    }

    &__header {
      text-align: right;
      max-width: 95%;
      margin: 10px auto;
      width: 100%;
    }
    
    &__filter {
      border: 1px solid #fff;
      padding: 13px 30px;
      border-radius: 20px;
      color: #000;
    }

    .rdt_Table,
    .rdt_TableHeadRow,
    .rdt_TableCol,
    .rdt_TableRow {
      background-color: rgba(85, 85, 85, 0.2);
      color: #fff;
      font-size: 16px;
      text-align: center;
      font-family:Arial, Helvetica, sans-serif;
    }

    .sc-dmRaPn {
      border-radius: 20px;
    }
    
    .rdt_Pagination {
        background-color: #55555555;
        color: #fff;
        // border-bottom-right-radius: 10px;
        // border-bottom-left-radius: 10px;
        background-color: #0D1827;
        font-size: 16px;
        // border: 0;
        // max-width: 95%;
        // margin: 20px auto 10px;
    }

  }
